ul{
    display:inline-flex;
}

ul li{
    padding-right: 50px;
    font-size:large;
}
.title{
    font-size: xx-large;
    float: left;
}
.mainContent{
    height:70%;
}

.alert-error{
    color: #a00808;
    background-color: #fd9696;
    border-color: #bf3f3f;
}