<html>

<head>

    <title>Inventory Management</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/site.css')}}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename = 'js/site.js')}}"></script>


<style>

</style>

</head>

<body>


<div class="container">

    <div class="well text-center row">

        <span class="title">Inventory Management</span>
        <ul class="nav pull-right">
            <li><a href="{{ url_for('product') }}">Product</a></li>
            <li><a href="{{ url_for('location') }}">Location</a></li>
            <li><a href="{{ url_for('product_movement') }}">Product_Movement</a></li>
        </ul>

    </div>
</div>

