
{% include "header.html" %}


{% block body %}
<div class="container">

    <div class="row" >

        <div class="col md-12">



            <h2>Product Movements List <button type="button" class="btn btn-success  pull-right " id="addMovement" data-toggle="modal" data-target="#myModal">Add Movement Data</button></h2>




    {%with messages = get_flashed_messages()%}

    {%if messages%}

    {% for message in messages %}

    <div class="alert alert-success alert-dismissable" role="alert">

     <button type="button" class="close" data-dismiss="alert" aria-label ="close">

         <span aria-hidden="true">&times;</span>

     </button>
        {{message}}


    </div>


    {%endfor%}
    {%endif%}
    {%endwith%}




            <table class="table table-striped">


                <tr>
              <th>Product Name</th>
              <th>From Location</th>
              <th>To Location</th>
              <th>Qty</th>
              <th></th>


          </tr>





                {% for row in productmovement %}
                <tr>
                    <input type="hidden" value="{{row.0}}" class="rowId">
                    <td>{{row.4}}<input type="hidden" value="{{row.3}}" class="productId"></td>
                    {% if row.1 == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>{{row.5}}<input type="hidden" value="{{row.1}}" class="fromLocation"></td>
                    {% endif %}
                    {% if row.2 == 0 %}
                    <td>-</td>
                    {% else %}
                    <td>{{row.5}}<input type="hidden" value="{{row.2}}" class="toLocation"></td>
                    {% endif %}
                    <td class="updateQTY">{{row.6}}</td>
                    <td>


               <a href="/updateMovement/{{row.0}}" class="btn btn-warning btn-xs editMovement" data-toggle="modal" data-target="#modaledit{{row.0}}">Edit</a>
                <a href="/deleteMovement/{{ row.0 }}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure For Delete?')">Delete</a>

                    </td>

                </tr>

<div id="modaledit{{row.0}}" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Update Movement Data</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('updateMovement') }}" method="POST">

                <input type="hidden"  name="id" value="{{row.0}}">

                <div class="form-group">


                  <label>Product Name:</label>
                  <select class="form-control Product_Name" name="Product_Name"  required="1">

                  </select>


               </div>


                <div class="form-group">


                  <label>From Location:</label>
                  <select class="form-control From_Location" name="From_Location" >

                  </select>


               </div>


                <div class="form-group">


                  <label>To Location:</label>
                  <select class="form-control To_Location" name="To_Location" >

                  </select>


               </div>


                <div class="form-group">


                  <label>Qty:</label>
                  <input type="text" class="form-control Qty" name="Qty" required="1">


               </div>


               <div class="form-group">


                  <button class="btn btn-primary" type="sbumit">Update</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>


                {% endfor  %}


                </tbody>


            </table>


        </div>


<!-- Modal -->


<div id="myModal" class="modal fade" role="dialog">


   <div class="modal-dialog">


      <div class="modal-content">


         <div class="modal-header">


            <button type="button" class="close" data-dismiss="modal">&times;</button>


            <h4 class="modal-title">Please Insert Movement Data</h4>


         </div>


         <div class="modal-body">


            <form action="{{ url_for('insertMovement') }}" method="POST">



                <div class="form-group">


                  <label>Product Name:</label>
                  <select class="form-control Product_Name" name="Product_Name" id="Product_Name" required="1">

                  </select>


               </div>


                <div class="form-group">


                  <label>From Location:</label>
                  <select class="form-control From_Location" name="From_Location" id="From_Location">

                  </select>


               </div>


                <div class="form-group">


                  <label>To Location:</label>
                  <select class="form-control To_Location" name="To_Location" id="To_Location">

                  </select>


               </div>


                <div class="form-group">


                  <label>Qty:</label>
                  <input type="text" class="form-control" name="Qty" required="1">


               </div>



               <div class="form-group">


                  <button class="btn btn-primary" type="submit">Insert Data</button>


               </div>


            </form>


         </div>


         <div class="modal-footer">


            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


         </div>


      </div>


   </div>


</div>




  {% include "footer.html" %}
    </div>


</div>


{% endblock %}


<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
<script>
    document.getElementById("addMovement").addEventListener("click", myFunction());
    $(document).on('click', '.editMovement', function(){
        myFunction
        $('#modaledit input').val('')
        var productId = $(this).parent().parent().find('.productId').val()
        var fromLocation = $(this).parent().parent().find('.fromLocation').val()
        var toLocation = $(this).parent().parent().find('.toLocation').val()
        var QTY = $(this).parent().parent().find('.updateQTY').text()
        console.log('productId= '+productId + '  fromLocation=   '  + fromLocation  + '  toLocation=    ' +toLocation + ' QTY   ' +QTY )
        $('.Product_Name').val(productId);
        $('.From_Location').val(fromLocation);
        $('.To_Location').val(toLocation);
        $('.Qty').text(QTY);

    })

    function myFunction() {
        fetch('/getLists').then(function(response){
            response.json().then(function(data){
                console.table(data.location)
                console.log(data["location"][0][0])
                console.log(data["location"][0][1])
                var htmlProducts = '<option value= "" ></option>'
                var htmlLocations = '<option value= "" ></option>'
                $.each(data.product, function (i, item) {
                    htmlProducts += '<option value= "'+item[0]+'" >'+ item[1] + '</option>'
                })
                $.each(data.location, function (i, item) {
                    htmlLocations += '<option value= "'+item[0]+'">'+ item[1] +  '</option>'
                })
                $('.Product_Name').html(htmlProducts);
                $('.From_Location').html(htmlLocations);
                $('.To_Location').html(htmlLocations);

            })
        });

    }
</script>